[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "beanie>=2.0.1",
    "fastapi[standard]>=0.128.0",
    "pydantic>=2.12.5",
    "pymongo[srv]>=4.16.0",
]
